.Shipping form h6 {
    color: aliceblue;
    font-size: 1.3rem;
}
.Shipping button{
    background-color: #90cdf4;
    font-size: 1.2rem;
    text-transform: capitalize;
}
.Shipping button:hover{
    background-color: #55ace2;

}
.Shipping{
    width: 60%;
    margin: auto;
    height: 100vh;

    margin-top: 5%;
}

.Shipping .MuiInputBase-input {
    background: #2b3851;
    color: #dbe0e5;
    letter-spacing: 1.3px;
}

.Shipping .PrivateNotchedOutline-legendNotched-4{
    color: #90cdf4;

}

.Shipping .MuiFilledInput-underline:after{
    border-bottom: 2px solid #d6d6d9;

}
.Shipping .MuiInputLabel-filled{
    color: #5d5cff;
    margin-bottom: 50px;

}
.Shipping .footer{
    margin-top: 5%;
    font-size: 1.4rem;
    display: grid;
    grid-template-columns: 1fr max-content 1fr;
    grid-column-gap: 1.2rem;
    align-items: center;
}

.Shipping .footer::before,.footer::after{
    content: '';
    width: 100%;
    height: 1px;
    background-color: currentColor;
    display: block;
   
}
.Shipping  .link{
    font-size: 1.3rem;
    font-family: 'Lunasima', sans-serif;
    margin-bottom: 5%;

}
.Shipping .link a{
    text-decoration: none;
}

@media screen and (max-width:320px) {
    form div{
        flex-direction: column;
        width: 100% !important;
    }
    .Shipping{
        width: 90%;
    }
    form input{
        width: 90%;
    }
    .Shipping form h6{
        display: none;
    }
    .Shipping h1{
        font-size: 1.5rem !important;
    }
    .Shipping .footer{
        font-size: 1.2rem;
        margin-bottom: 5rem;
    }
    
}

@media (min-width:320px) and (max-width:480px) {
    form div{
        flex-direction: column;
        width: 100% !important;
    }
    .Shipping{
        width: 90%;
    }
    form input{
        width: 90%;
    }
    .Shipping form h6{
        display: none;
    }
    .Shipping h1{
        font-size: 1.5rem !important;
    }
    .Shipping .footer{
        font-size: 1.2rem;
        margin-bottom: 5rem;
    }
    
}

@media (min-width:480px) and (max-width:575px) {
    form div{
        flex-direction: column;
        width: 100% !important;
    }
    .Shipping{
        width: 90%;
    }
    form input{
        width: 90%;
    }
    .Shipping form h6{
        display: none;
    }
    .Shipping h1{
        font-size: 1.5rem !important;
    }
    .Shipping .footer{
        font-size: 1.2rem;
        margin-bottom: 5rem;
    }
    
}

@media (min-width:575px) and (max-width:767px) {
    form div{
        flex-direction: column;
        width: 100% !important;
    }
    .Shipping{
        width: 90%;
    }
    form input{
        width: 90%;
    }
    .Shipping form h6{
        display: none;
    }
    .Shipping h1{
        font-size: 1.5rem !important;
    }
    .Shipping .footer{
        font-size: 1.2rem;
        margin-bottom: 5rem;
    }
    
}

@media (min-width:767px) and (max-width:991px) {
    form div{
        flex-direction: column;
        width: 100% !important;
    }
    .Shipping{
        width: 90%;
    }
    form input{
        width: 90%;
    }
    .Shipping form h6{
        display: none;
    }
    .Shipping h1{
        font-size: 1.5rem !important;
    }
    .Shipping .footer{
        font-size: 1.2rem;
        margin-bottom: 5rem;
    }
    
}