.Shipping form h6 {
    color: aliceblue;
    font-size: 1.3rem;
}
.Shipping button{
    background-color: #90cdf4;
    font-size: 1.2rem;
    text-transform: capitalize;
}
.Shipping button:hover{
    background-color: #55ace2;

}
.Shipping{
    width: 60%;
    margin: auto;
    height: 100vh;

    margin-top: 5%;
}

.Shipping .MuiInputBase-input {
    background: #2b3851;
    color: #dbe0e5;
    letter-spacing: 1.3px;
}
.Shipping .MuiOutlinedInput-notchedOutline {
    /* border-color: rgb(183 183 183); */
}
.Shipping .PrivateNotchedOutline-legendNotched-4{
    color: #90cdf4;

}

.Shipping .MuiFilledInput-underline:after{
    border-bottom: 2px solid #d6d6d9;

}
.Shipping .MuiInputLabel-filled{
    color: #5d5cff;
    margin-bottom: 50px;

}
.Shipping .footer{
    margin-top: 5%;
    font-size: 1.4rem;
    display: grid;
    grid-template-columns: 1fr max-content 1fr;
    grid-column-gap: 1.2rem;
    align-items: center;
}

.Shipping .footer::before,.footer::after{
    content: '';
    width: 100%;
    height: 1px;
    background-color: currentColor;
    display: block;
    /* border: 2px solid ; */

    /* display: grid; */
    /* text-align: center; */
}
.Shipping  .link{
    /* margin-top: 3%; */
    font-size: 1.3rem;
    font-family: 'Lunasima', sans-serif;
    margin-bottom: 5%;

}
.Shipping .link a{
    text-decoration: none;
}